{% include "header.html" %}

<p class="teg">Сотрудничество</p>
<h1>Готовы к <span class="red">сотрудничеству</span></h1>
<p>
    Мы ценим каждого партнёра и готовы предложить выгодные 
    условия для долгосрочного взаимовыгодного сотрудничества.
</p>
<div class="red-line"></div>

<article class="section-of-cards">
    <div class="card-cooperation">
        <h3 class="card-text">Доступная цена</h3>
        <p>
            Готовы обсуждать цену индивидуально. 
            Гибкая система скидок на серийные заказы.
        </p>
    </div>

    <div  class="card-cooperation">
        <h3 class="card-text">Быстрые сроки</h3>
        <p>
            Оптимизируем производственные цикл под ваши задачи. 
            Срочные заказы - в приоритете.
        </p>
    </div>

    <div  class="card-cooperation">
        <h3 class="card-text">Гарантия качества</h3>
        <p>
            Контроль на всех этапах. 
            Соответствие чертежам и ТЗ. 
            Ответственность за результат.
        </p>
    </div>
</article>

<article class="contact-cards-section">
    <div class="contact-card">
        <p>
            <span class="lite-grey">Контактное лицо</span><br>
            Главный инженер
        </p>
        <p><a href="tel:+7 (991) 212-05-13" class="red">+7 (991) 212-05-13</a></p>
    </div>

    <div class="contact-card">
        <p>
            <span class="lite-grey">Контактное лицо</span><br>
            Гениральный директор
        </p>
        <p><a href="tel:+7 (920) 596-01-10" class="red">+7 (920) 596-01-10</a></p>
    </div>
</article>

<address>
    <strong>Реквизиты Компании</strong><br>
    Полное наименование:<br>
    Общество с ограниченной ответственностью фирмы «СПЕЦМЕТ»<br>
    Сокращенное наименование:<br>
    ООО «СПЕЦМЕТ»<br>
    Генеральный директор:<br>
    Попов Валерий Григорьевич<br>
    Юридический адрес:<br>
    309070, Белгородская область, м. о. Яковлевский, 
    г. Строитель, ул. Тополиная, . 88<br>
    ИНН: 3121009885<br>
    КПП: 312101001<br>
    ОГРН: 1203100018021<br>
    Расчётный счёт: 40702810707000025560<br>
    Банк:<br>
    Белогородское отделение №8592 ПАО Сбербанк<br>
    Кор/счёт: 30101810100000000633<br>
    БИК: 041403633<br>
    E-mail: <a href="mailo:SpecMet.ct@gmail.com" class="black-color">SpecMet.ct@gmail.com</a>
</address>

{% include "footer.html" %}