{% include "header.html" %}

<p class="teg">Производственные возможности</p>
<h1>Фрезерная обработка <span class="red">и плазменная резка</span></h1>
<p>
    Механическая обработка деталей сложной конфигурации 
    и раскрой листового металла с ЧПУ-точностью.
</p>
<div class="red-line"></div>

<article class="section-of-cards">
    <div class="card">
        <h1 class="card-number">01</h1>
        <h3 class="card-text">Фрезерование</h3>
        <p>
            Обработка плоскостей, шлицев, канавок, отверстий. 
            Детали корпусного типа, шестерни, фланцы.
        </p>
    </div>

    <div class="card">
        <h1 class="card-number">02</h1>
        <h3 class="card-text">Плазменная резка</h3>
        <p>
            Раскрой листового металла на станках с ЧПУ. 
            Чистый срез, минимальная зона термического влияния.
        </p>
    </div>

    <div class="card">
        <h1 class="card-number">03</h1>
        <h3 class="card-text">Серийность</h3>
        <p>
            Производство от единичных изделий до крупных партий. 
            Стабильное качестко на каждой детали.
        </p>
    </div>
</article>

<article class="photos-galery">
    <div class="gallery-item">
        <img src="./photos/injection-molded_products.jpg" alt="литьевые изделия, прошедшие механическую обработку" class="photo">
        <div class="image-caption">Литьевые изделия, прошедшие механическую обработку</div>
    </div>

    <div class="gallery-item">
        <img src="./photos/gears.jpg" alt="Шестерни и зубчатые венцы" class="photo">
        <div class="image-caption">Шестерни и зубчатые венцы</div>
    </div>

    <div class="gallery-item">
        <img src="./photos/mechanical_processing_of_products.jpg" alt="Мехобработка изделий" class="photo">
        <div class="image-caption">Мехобработка изделий</div>
    </div>

    <div class="gallery-item">
        <img src="./photos/workpieces_for_machining.jpg" alt="Заготовки под мех. обработку" class="photo">
        <div class="image-caption">Заготовки под мех. обработку</div>
    </div>
</article>
<hr>

<p>
    <strong>Фрезерование:</strong> обработка сталей, чугунов, цветных сплавов. 
    Размеры деталей до 800×600×400 мм. 
    Шлицевые соединения, шпоночные пазы, 
    резьбовые отверстия.<br>
    <strong>Плазменная резка:</strong> листовой прокат толщиной до 25 мм 
    (сталь), до 15 мм (нержавеющая сталь, алюминий). 
    Раскрой по чертежам заказчика, минимальные отходы.
</p>

{% include "footer.html" %}