{% include "header.html" %}

<p class="teg">Комерческое предлдожение</p>
<h1>Металлообработка <span class="red">и литейное</span> производство</h1>
<p>
    Изготовление специального оборудования, деталей и узлов для сельскохозяйственной и промыщленной техники.
</p>
<div class="red-line"></div>
<ul class="two-column-list">
    <li class="points">Литьё до 1500 кг</li>
    <li class="points">Фрезерная обработка</li>
    <li class="points">Плазменная резка</li>
    <li class="points">Токарная обработка</li>
    <li class="points">Сварочные работы</li>
    <li class="points">Механосборочные работы</li>
</ul>

{% include "footer.html" %}