{% include "header.html" %}

<p class="teg">Производственные возможности</p>
<h1>Литейное <span class="red">производство</span></h1>
<p>
    Отливка деталей массой до 1500 кг из широкого спектора сплавов. 
    Литьё по газифицируемым моделям (ЛГМ) и в песчаные формы.
</p>
<div class="red-line"></div>

<article class="section-of-cards">
    <div class="card">
        <h1 class="card-number">01</h1>
        <h3 class="card-text">Вес до 1500 кг</h3>
        <p>
            Отливка крупногабаритных деталей и корпусов. 
            Работаем с единичными и серийными заказами.
        </p>
    </div>

    <div class="card">
        <h1 class="card-number">02</h1>
        <h3 class="card-text">Сплавы</h3>
        <p>
            Сталь, чугун, алюминий, нержавеющая сталь, латунь, бронза, медь. 
            Подбор марки под задачу заказчика.
        </p>
    </div>

    <div class="card">
        <h1 class="card-number">03</h1>
        <h3 class="card-text">ЛГМ-технология</h3>
        <p>
            Литьё по газифицируемым моделям. 
            высокая точность, чистота поверхности, 
            минимум мехобработки.
        </p>
    </div>
</article>

<article class="photos-galery">
    <div class="gallery-item">
        <img src="./photos/heat_treatment_of_castings.jpg" alt="Термообработка отливок" class="photo">
        <div class="image-caption">Термообработка отливок</div>
    </div>

    <div class="gallery-item">
        <img src="./photos/casting_of_large_batches.jpg" alt="Литье крупных партий, а также единичных изделий" class="photo">
        <div class="image-caption">Литье крупных партий, а также единичных изделий</div>
    </div>

    <div class="gallery-item">
        <img src="./photos/styrofoam_models.jpg" alt="Пенопластовые модели для ЛГМ" class="photo">
        <div class="image-caption">Пенопластовые модели для ЛГМ</div>
    </div>

    <div class="gallery-item">
        <img src="./photos/complex_housing_components.jpg" alt="Корпусные детали сложной формы" class="photo">
        <div class="image-caption">Корпусные детали сложной формы</div>
    </div>
</article>
<hr>

<p>
    <strong>Материалы:</strong> углеродистые и легированные стили, 
    нержавеющие стали (AISI 304, 316), 
    чугуны (СЧ, ВЧ), 
    алюминиевые сплавы, латунь, бронза, медь.<br>
    <strong>Дополнительно:</strong> термообработка, механическая 
    обработка отливок на собственном оборудовании.
</p>

{% include "footer.html" %}