{% include "header.html" %}

<p class="teg">Производственные возможности</p>
<h1>Сварочные работы, <span class="red">спецоборудование</span> и ремонт</h1>
<p>
    Изготовление навестного оборудования для сельхозтехники и спецтехники. 
    Ремонт и восстановление узлов и агрегатов.
</p>
<div class="red-line"></div>

<article class="section-of-cards">
    <div class="card">
        <h1 class="card-number">01</h1>
        <h3 class="card-text">Сварка</h3>
        <p>
            Полуавтоматическая и ручная дуговая сварка.
            Сварка углеродистых и легированных сталей, нержавеющих сплавов.
        </p>
    </div>

    <div class="card">
        <h1 class="card-number">02</h1>
        <h3 class="card-text">Спецоборудование</h3>
        <p>
            Проектирование и изготовление ковшей, захватов, 
            навесного оборудования для погрузчиков, эксковаторов, тракторов.
        </p>
    </div>

    <div class="card">
        <h1 class="card-number">03</h1>
        <h3 class="card-text">Ремонт техники</h3>
        <p>
            Восстановление и ремонт узлов сельхозтехники, 
            навесного оборудования, корпусных деталей.
            Мехобработка после сварки.
        </p>
    </div>
</article>

<article class="photos-galery">
    <div class="gallery-item">
        <img src="./photos/welding_of_structures.jpg" alt="Сварка крупногабаритных конструкций" class="photo">
        <div class="image-caption">Сварка крупногабаритных конструкций</div>
    </div>

    <div class="gallery-item">
        <img src="./photos/ladle.jpg" alt="Изготовление ковшей и навесного оборудования" class="photo">
        <div class="image-caption">Изготовление ковшей и навесного оборудования</div>
    </div>

    <div class="gallery-item">
        <img src="./photos/welding_work.jpg" alt="Сварочные работы в производственном цеху" class="photo">
        <div class="image-caption">Сварочные работы в производственном цеху</div>
    </div>

    <div class="gallery-item">
        <img src="./photos/ripper.jpg" alt="Рыхлители и режущие элементы" class="photo">
        <div class="image-caption">Рыхлители и режущие элементы</div>
    </div>
</article>
<hr>

<p>
    <strong>Виды работ:</strong> Сварка в среде защитных галов (MIG/MAG), 
    Ручкая дуговая сварка (MMA), 
    резка и подготовка кромок, 
    сборка металлоконструкций, 
    антикоррозойная обработка и покраска.<br>
    <strong>Направления:</strong> сельскохозяйственная техника, 
    дорожно-строительная техника, 
    коммунальная техника, 
    промышленное оборудование.
</p>
        
{% include "footer.html" %}