{% include "header.html" %}

<p class="teg">Производственные возможности</p>
<h1>Токарная обработка <span class="red">с ЧПУ</span></h1>
<p>
    Серийное производство деталей любой сложности с гарантированной точностью и повторяемостью размеров.
</p>
<div class="red-line"></div>

<article class="section-of-cards">
    <div class="card">
        <h1 class="card-number">01</h1>
        <h3 class="card-text">Серийность</h3>
        <p>
            Выпуск от мелкосерийных до крупносерийных партий. 
            Стабильное качество на каждой детали.
            </p>
    </div>

    <div class="card">
        <h1 class="card-number">02</h1>
        <h3 class="card-text">Точность</h3>
        <p>
            Точность обработки до IT7-IT8. 
            Соблюдение допусков и шероховатости по чертежам заказчика.
        </p>
    </div>

    <div class="card">
        <h1 class="card-number">03</h1>
        <h3 class="card-text">Качество</h3>
        <p>
            Контроль на всех этапах. 
            Опытные токари и наладчики. 
            Готовность к ОТК.
        </p>
    </div>
</article>

<article class="photos-galery">
    <div class="gallery-item">
        <img src="./photos/housing_components.jpg" alt="Корпусные детали после обработки" class="photo">
        <div class="image-caption">Корпусные детали после обработки</div>
    </div>

    <div class="gallery-item">
        <img src="./photos/turning_of_parts.jpg" alt="Токарная обработка деталей" class="photo">
        <div class="image-caption">Токарная обработка деталей</div>
    </div>

    <div class="gallery-item">
        <img src="./photos/bushing_products.jpg" alt="Втулки и втулочные изделия" class="photo">
        <div class="image-caption">Втулки и втулочные изделия</div>
    </div>

    <div class="gallery-item">
        <img src="./photos/turning_of_any_materials.jpg" alt="Токарная обработка любых материалов" class="photo">
        <div class="image-caption">Токарная обработка любых материалов</div>
    </div>
</article>
<hr>

<p>
    <strong>Материалы:</strong> стали углеродистые и легированные, 
    Нержавеющие стали, чугун, 
    цветные сплавы (латунь, бронза, алюминий).<br>
    <strong>Диапазон обработки:</strong> детали диаметром до 500мм, 
    длиной до 1500 мм. 
    Резьбонарезание, торцевание, расточка, проточка канавок.
</p>

{% include "footer.html" %}