<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="./css/normalize.css">
        <link rel="stylesheet" href="./css/my-style.css?v1">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Спецмет</title>
    </head>

    <body>
        <main>
            <header class="header">
                <section class="header-left">
                    <img src="./photos/logo.jpg" alt="Логотип компании" class="logo">
                    <div class="location-of-text">
                        <h1>Спецмет</h1>
                        <p class="subtitle">Производственное предприятие</p>
                    </div>
                </section>

                <section class="text-right">
                    <p class="footer-subtitle">ООО «СПЕЦМЕТ»</p>
                    <p>
                        <a href="tel:+7 (991) 212-05-13" class="black-color"><strong>+7 (991) 212-05-13</strong></a>
                    </p>
                    <p>
                        <a href="mailto:specmet.ct@gmail.com" class="red">specmet.ct@gmail.com</a>
                    </p>
                </section>
            </header>

            <nav class="nav">
                <ul class="list">
                    <li class="item active"><a href="index.html" class="link">Главная</a></li>
                    <li class="item"><a href="tokarnaya-obrabotca.html" class="link">Токарная обработка</a></li>
                    <li class="item"><a href="liteynoe-proizvodstvo.html" class="link">Литейное производство</a></li>
                    <li class="item"><a href="svarochnie-raboti.html" class="link">Сварочные работы</a></li>
                    <li class="item"><a href="frezernaya-obrabotca.html" class="link">Фрезерная обработка</a></li>
                    <li class="item"><a href="cooperation.html" class="link">Сотрудничество</a></li>
                </ul>
            </nav>

            <section class="indent">
